@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	scroll-behavior: smooth;

	--c-brand: #4282fd;
	--c-brand-light: #1295f7;
	--footer-height:50px;

	--c-icon: #4282fd10;
	--c-bg-cta: #4282fd08;
	--b-title: #11181c;
	--b-desc: #687086;



}

html.dark {
	// brand colors
	--c-brand: #4282fd;
	--c-brand-light: #1295f7;
	--c-icon: #4282fd25;
	--c-bg-cta: #4282fd08;
	--b-title: #EDEDED;
	--b-desc: #a0a0a0;


}
// buttons
.button-small{
	padding: 14px 20px;
	font-size: 16px;
	line-height: 18px;
	border-radius: 48px;
	border: 1px solid var(--c-brand);
	background: var(--c-brand);
	margin: 10px;
	color: var(--c-bg);
}
.button-medium{
	padding: 20px 28px;
	font-size: 16px;
	line-height: 18px;
	border-radius: 48px;
	border: 1px solid var(--c-brand);
	background: var(--c-brand);
	text-align: center;
}
.button-large{
	padding: 20px 56px;
	font-size: 16px;
	line-height: 22px;
	border-radius: 48px;
	border: 1px solid var(--c-brand);
	background: var(--c-brand);
	text-align: center;
}
.button-icon{
	padding: 20px 28px;
	font-size: 16px;
	line-height: 18px;
	border-radius: 48px;
	border: 1px solid var(--c-brand);
	background: var(--c-brand);
	text-align: center;
	display: flex;
	align-items: center;
	.social-icon{
		line-height: 21px;
		margin-right: 6px;
	}

}
// end buttons

// footer
.home .footer {
	padding: 10px;
	border: none;
}
.sidebar{
	bottom: var(--footer-height);

}

footer {
	display: flex;
	justify-content: space-between;
	height: fit-content;

	.links {
		display: flex;
		align-items: center;
		font-weight: normal;

		p {
			color: var(--c-text-lightest);
			margin-right: 12px;
			font-size: .90em;

		}

		a {
			color: var(--c-text-lightest);
			font-weight: normal;
			font-size: .90em;
			margin-right: 12px;

		}
	}
	.social{
		display: flex;
		align-items: center;
		a{
			margin-right: 12px;
		}
		svg{
			height: 25px;
			width: 25px;
		}
	}
}

// end footer


.home {
	max-width: 100%;
}

.features {
	width: var(--homepage-width);

	margin: auto;
}

.custom-container {
	&.story {
		max-width: 24rem;
		margin: auto;
		padding: 0.005rem 1.5rem;
		border-radius: 0.4rem;
		background-color: var(--c-tip-bg);
		border-left-width: .5rem;
		border-left-style: solid;
		border-left-color: #42bdea;

		.title {
			font-weight: bold;
		}
	}

	&.four {
		width: 20%;
		padding: 1px;
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
		margin: auto;

		img {
			width: 100px;
			height: 100px;
		}

		ul {
			text-align: left;
		}

		li {
			list-style: none;
			text-decoration: none;
		}

		p {
			padding-left: 1.2em;
		}
	}

	&.third {
		width: 33%;
		padding: 1px;
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
	}

	&.half {
		width: 50%;
		padding: 1px;
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
	}

	&.center {
		text-align: center;
		padding: 3em;
	}

	&.right {
		float: right;
		padding: 1em;
		width: auto;
		text-align: center;
	}

	&.left {
		float: left;
		padding: 1em 2em;
		padding-left: 0;
		width: auto;
		text-align: center;
	}

	&.card {
		text-align: center;
		background-color: var(--c-bg-lighter);
		border-top: 1px solid var(--c-border);
		border-bottom: 1px solid var(--c-border);

		img {
			max-width: 90%;
		}
	}
}


@media (max-width:719px) {
	.sidebar{
		bottom:0;
	
	}
	
	footer{
		flex-direction: column;
		margin-top: 15px;
		padding-bottom: 15px;
		.links{
			order: 1;
			flex-wrap: wrap;
		}
	}

	.home .features {
		max-width: 100%;
	}

	.home .footer {
		padding: 0;
	}

	.grid {
		grid-template-columns: 1fr;
		padding-left: 0;
		padding-right: 0;
	}

	.custom-container {
		&.four {
			width: 100%;

		}

		&.third {
			margin: 0 auto;
			width: 100%;
			padding: 0;
			margin-bottom: 10px;

			img {
				width: 100%
			}
		}

		&.half {
			margin: 0 auto;
			width: 100%;
			padding: 0;
			margin-bottom: 10px;

			img {
				width: 100%
			}
		}
	}
}

@media (max-width: 419px) {
	.custom-container {
		&.left {
			float: none;
			margin: 0 auto;
			width: 100%;
			padding: 0;
			margin-bottom: 10px;

			img {
				width: 100%
			}
		}

		&.right {
			float: none;
			margin: 0 auto;
			width: 100%;
			padding: 0;
			margin-bottom: 10px;

			img {
				width: 100%
			}
		}
	}
}