:root {
  scroll-behavior: smooth;

  --c-brand: #4282fd;
  --c-brand-light: #1295f7;
}

html.dark {
  // brand colors
  --c-brand: #4282fd;
  --c-brand-light: #1295f7;
}
// footer
.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-left: 5rem;
	padding-right: 5rem;

}
.grid-2{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.logo-img{
	text-align: left;
}
.logo-img>img{
	width: 70px;
	height: 70px;
}
.logo-socials{
	display: flex;
	flex-direction: column;
	padding-top: 38px;
}
.socials{
	display: flex;
	align-items: center;
	height: 40px;
	margin-top: 30px;
	padding-left: 10px;

}
.socials a svg{
	width: 25px;
	height: 25px;
	margin-right: 15px;

}
.grid-2 div ul li{
	list-style: none;
	font-size: .875rem;
	font-weight: lighter;
	line-height: 2rem;
	text-align: left;
}
.grid-2 div h6{
	padding-left: 1.2em;
	text-align: left;
}
.grid-2 div ul li a{
	color: var(--c-text-lighter);
}
// end footer


.home{
	max-width: 100%;
}
.features{
	width: var(--homepage-width);
	
	margin: auto;
}

.custom-container {
	&.story {
		max-width: 24rem;
		margin: auto;
		padding: 0.005rem 1.5rem;
		border-radius: 0.4rem;
		background-color: var(--c-tip-bg);
		border-left-width: .5rem;
		border-left-style: solid;
		border-left-color: #42bdea;
		.title {
			font-weight: bold;
		}
	}
	&.four{ 
		width: 20%;
		padding: 1px;
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
		margin: auto;
		img{
			width: 100px;
			height: 100px;
		}
		ul{
			text-align: left;
		}
		li{
			list-style: none;
			text-decoration: none;
		}
		p{
			padding-left: 1.2em;
		}
	}
	&.third {
	  width: 33%;
	  padding: 1px;
	  display: inline-block;
	  vertical-align: top;
	  box-sizing: border-box;
	}
	&.half {
	  width: 50%;
	  padding: 1px;
	  display: inline-block;
	  vertical-align: top;
	  box-sizing: border-box;
	}
	&.center {
	  text-align: center;
	  padding: 3em;
	}
	&.right {
	  float: right;
	  padding: 1em;
	  width: auto;
	  text-align: center;
	}
	&.left {
	  float: left;
	  padding: 1em 2em;
	  padding-left: 0;
	  width: auto;
	  text-align: center;
	}
	&.card {
	  text-align: center;
	  background-color: var(--c-bg-lighter);
	  border-top: 1px solid var(--c-border);
	  border-bottom: 1px solid var(--c-border);
	  img {
		max-width: 90%;
	  }
	}
  }
  

@media (max-width:719px){
	
	.home .features{
		max-width: 100%;
	}
	.home .footer{
		padding: 0;
	}
	.grid{
		grid-template-columns: 1fr;
		padding-left: 0;
		padding-right: 0;
	}
	.custom-container {
		&.four{
			width: 100%;

		}
		&.third {
		  margin: 0 auto;
		  width: 100%;
		  padding: 0;
		  margin-bottom: 10px;
		  img {
			width: 100%
		  }
		}
		&.half {
		  margin: 0 auto;
		  width: 100%;
		  padding: 0;
		  margin-bottom: 10px;
		  img {
			width: 100%
		  }
		}
	}
}
@media (max-width: 419px) {
	.custom-container {
	  &.left {
		float: none;
		margin: 0 auto;
		width: 100%;
		padding: 0;
		margin-bottom: 10px;
		img {
		  width: 100%
		}
	  }
	  &.right {
		float: none;
		margin: 0 auto;
		width: 100%;
		padding: 0;
		margin-bottom: 10px;
		img {
		  width: 100%
		}
	  }
	}
  }